/* Button 1*/

body{
    background-color: #ffdede;
}

.text{
    -webkit-text-fill-color: brown;
    font-size:clamp(5px, 5vw, 40px); /* (xxPX = minimum size, Xvw = change, xxPx = maximum size)
    }



.button-group {
    display: flex;
    justify-content: left; /* Center buttons horizontally */
    margin-bottom: 20px; /* Add space between button groups */
}

.button {
		border-radius: 9px;
		cursor: pointer;
		display: block; /* buttom form */ 
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 1rem; /* text size */
		font-weight: 900; /* text padding */
		letter-spacing: 0.075em; /* letter spacing  */
		height: 0px;  /* box height  */ /* not need if you have padding */
		line-height: 0px;  /* text spacing inside the box */
		padding:  2rem; /* space between text and box border */
		text-align: center;
		background-color: rgb(222, 105, 105);
		text-transform: uppercase;
        border: solid 2px;
		margin-bottom: rem;  
        margin-top: rem; 
        margin: 30px; /* spacing to everything*/
		color: #212121; 
        max-width: 100px;
        
}

.button:hover {
    box-shadow: inset 0 0 0 2px #f9a87c; /* box outline color swift when hover*/
			color: #f9a87c ;  /* text color swift when hover*/
            text-decoration-line : #212121;
}
/* Button 2*/

    .button2 {
    margin: 30px;
    background-color: #3498db; 
    color: #212121;
    border: solid 2.5px;
    padding: 15px 20px;
    border-radius: 6px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, border-color 0.3s;
    cursor: pointer;
    }
  
    /* Text styles */
    .button2 span {
    position: relative;
    z-index: 1;
    }
  
     /* Line effect */
    .button2::before {
    content: '';
    position: absolute;
    bottom: 1; /* position of the line*/
    left: 50%; /* which direction */
    width: 0; /* where the line starts */
    height: 2px; /* size of */
    background-color: #090909; /* color of the line*/
    transition: width 0.5s, left 0.5s; /* time for the line to travel*/
    }
  
    /* Hover effect for text color and line */
    .button2:hover span {
    color: #f39c12; /* Change text color on hover */
     }
  
    .button2:hover::before {
    width: 100%; /* Extend line width on hover */
    left: 0; /* Align line from the left */
    }


    

    .button3 {
        background-color: #3498db;
        border: solid 2px black;
        margin: 20px;
        display: inline-block; /* Change display to inline-block */
        padding: 10px 20px; /* Add padding to create space inside the box */
       
        text-align: center; /* Center the text */
        text-decoration: none; /* Remove underline from the anchor */
        color: white; /* Set text color */
        justify-content: center;
        align-items: center; /* Center content vertically */
    }
    
    .button3:hover {
        background-color: #296993; /* Change background color on hover */
    }

    